h1 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.sum {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
}

img {
    border-style: solid;
    float: left;
    margin-right: 50px;
}

body {
    background-color: darkgray;
}