body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10pt;
    
}
h1 {
    border: black;
    border-style: solid;
}
img {
    border-style: solid;
    float: left;
    margin-right: 50px;
}
p {
    font-size: 10pt;
    font-family: Helvetica, Arial, sans-serif;
}
